<mat-card *ngIf="course">
    <mat-card-header>
      <mat-card-title>{{course.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="course.thumbnailUrl" [alt]="course.thumbnailAlt">
    <mat-card-content>
        <p>
            {{course.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <div class="centered-buttons">
            <button mat-raised-button color="primary" (click)="goToCourseUrl()">Buy Now</button>
        </div>
    </mat-card-actions>
</mat-card>